body, html {height: 100%;}
body{background: #222; color: #fff; text-align: center; display:flex; justify-content: center; flex-direction: column; font-family: sans-serif;}
h2{font-weight:700; font-size:25vh; margin:0; line-height: 1;animation:light 4s steps(1) infinite;}
h2 + p{font-size:3vh;}
@keyframes light{33%{text-shadow: 0 0 20px #e900fe;}66%{text-shadow: 0 0 20px #6de33c;}}
